@import url("https://fonts.googleapis.com/css?family=Arvo&display=swap");

body {
  margin: 0;
  font-family: "Arvo", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.span-color {
  color: #22aef5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

.App {
  height: 100vh;
}

#app-title {
  margin-top: 20px;
  margin-bottom: 0px;
}

#calendar {
  width: 400px;
}

/* Buttons */

#save {
  display: block;
  width: 240px;
  height: 120px;
}

#reset {
  margin-left: 2rem;
}

h2 {
  display: inline-block;
  margin: 0;
}

div button {
  font-family: "Arvo", serif;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 120px;
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 25px;
  background-color: #22aef5;
  border: 4px solid #427198;
  border-radius: 10%;
}

/**** Calendar *****/

#calendar p {
  display: inline-block;
  margin-right: 5px;
  border: 2px solid black;
  padding: 10px;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
}

.day.current-day {
  color: #22aef5;
}

#legend-container {
  display: inline-block;
}

.legend-color {
  display: inline-block;
  height: 40px;
  width: 80px;
  padding: 10px;
  font-size: 18px;
}

.legend-color p {
  margin-top: 10px;
}

.legend-color.one {
  background-color: #22aef5;
}

.legend-color.two {
  background-color: #43af35;
}

.legend-color.three {
  background-color: #d1d41f;
}

.legend-color.four {
  background-color: #d48b1f;
}

.excellent {
  background-color: #22aef5;
}

.great {
  background-color: #43af35;
}

.good {
  background-color: #d1d41f;
}

.needs-work {
  background-color: #d48b1f;
}
